@keyframes rainbow-effect {
    0% {
        text-shadow: 0 0 10px violet;
    }
    16.666% {
        text-shadow: 0 0 10px indigo;
    }
    33.333% {
        text-shadow: 0 0 10px blue;
    }
    50% {
        text-shadow: 0 0 10px green;
    }
    66.666% {
        text-shadow: 0 0 10px yellow;
    }
    83.333% {
        text-shadow: 0 0 10px orange;
    }
    100% {
        text-shadow: 0 0 10px red;
    }
}
body{
    background-color: gray;
}
h1{
    text-align: center;
    transition: transform 0.3s ease;
    animation: rainbow-effect 10s linear infinite;
}
h1:hover{
    transform: scale(1.5);
}
tr{
transition: transform 0.3s ease;
animation: rainbow-effect 10s linear infinite;
}
div{
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 350px;
    overflow: auto;
}
tr:hover{
    transform: scale(2.5);
}
table {
    font-size: 25px;
    margin-left: auto;
    margin-right: auto;
}
